@import "tailwindcss";
@theme {
    --font-segoe: "Segoe UI", sans-serif;

    --color-blackCustom: #030711;
    --color-whiteCustom: #F9FAFB;
    --color-grayCustom: #E5E7EB;
    --color-grayCustom2: #818388;
    --color-redCustom: #EF4343;
}